# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C/C++
6. JavaSc

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Keras
5. Scikit-learn
6. Tensorflow
7. PyTorch
8. Seaborn

|Data Science Tools|
---------------------
|Apache Hadoop|
|Anaconda|
|Juputer Notebook|
|BigML|
|Apache Spark|
|R Studio|

#  Below are a few examples of evaluating arithmetic expressions in Python:

In [5]:
# Constant Expressions
x = 15 + 1.3

print(x)

16.3

In [6]:
# Arithmetic Expressions 
x = 40
y = 12

add = x + y 
sub = x - y 
pro = x * y 
div = x / y 

print(add) 
print(sub) 
print(pro) 
print(div)

52
28
480
3.3333333333333335

#This a simple arithmetic expression to multiply then add integers

In [7]:
(3*4)+5
# Result 17

17

#This will convert 200 minutes to hours by diving by 60

In [8]:
200/60
# Result 3.3333333333333335

3.3333333333333335

# Author

Keerthi Nidaganti